<web-app>

	<!-- ListServlet -->
	<servlet>
		<servlet-name>listMapping</servlet-name>
		<servlet-class>bms.ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listMapping</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>

	<!-- InsertServlet -->
	<servlet>
		<servlet-name>insertMapping</servlet-name>
		<servlet-class>bms.InsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insertMapping</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>

	<!-- DetailServlet -->
	<servlet>
		<servlet-name>detailMapping</servlet-name>
		<servlet-class>bms.DetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailMapping</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>

	<!-- DeleteServlet -->
	<servlet>
		<servlet-name>deleteMapping</servlet-name>
		<servlet-class>bms.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteMapping</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>

	<!-- UpdateServlet -->
	<servlet>
		<servlet-name>updateMapping</servlet-name>
		<servlet-class>bms.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateMapping</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<!-- SearchServlet -->
	<servlet>
		<servlet-name>searchMapping</servlet-name>
		<servlet-class>bms.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchMapping</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>



</web-app>